@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import "./components/frame-data.css";
@import "./components/icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  font-family: "Oswald";
  font-size: 21px;
  font-weight: 400;
  height: 100vh;
  overflow: hidden;
  background: rgb(10, 23, 34);
  background: linear-gradient(180deg, #0a1722 30%, #271b29 85%, #5b1d36 105%);
  border: 2px solid rgb(90, 41, 58);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100% - 6px);
} /* window */

.patreon {
  position: absolute;
  left: 15px;
  opacity: 1;
  transition: opacity 0.2s;
}

.header {
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s;
}

nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  padding: 6px 6px 23px 6px;
}

.menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 9px;
  background: #c70851;
  height: 55px;
  text-wrap: initial;
}

.control-panel {
  width: calc(100% - 55px);
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background: linear-gradient(90deg, #1e3b5a, #0e2640);
  transition: width 0.5s;
  padding: 10px;
  margin-left: 2px;
  overflow: hidden;
}

.closed {
  width: 0px;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 30px;
  font-style: italic;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.move-list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 6px 6px 84px 6px;
  flex-direction: column;
  height: 45rem;
  flex: 1;
}

.character-select {
  display: flex;
  max-width: 86.5rem;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 6px 6px 84px 6px;
}

::-webkit-scrollbar {
  width: 0px;
}

.move {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  width: 100%;
  max-width: 86.5rem;
}

.move-details {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgba(28, 36, 49, 50%);
  height: 5.125rem;
  cursor: pointer;
  padding-right: 0.75rem;
}

.move-rating::after,
.move-rating-on-title::after {
  content: "★";
}

.move-details:hover {
  background-color: rgb(77, 36, 53);
  animation: bgColor 5s infinite linear;
  border-left: 4px solid rgb(221, 26, 72);
}

@keyframes bgColor {
  25% {
    background-color: rgb(140, 23, 54);
  }
  50% {
    background-color: rgb(77, 36, 53);
  }
  75% {
    background-color: rgb(140, 23, 54);
  }
  100% {
    background-color: rgb(77, 36, 53);
  }
}

.move-details:hover .move-rating {
  margin-left: -0.25rem;
  background: none;
  color: #fff;
}
.move-details:hover .move-text {
  color: #fff;
}

.move-details:hover .move-notes {
  margin-left: -0.25rem;
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.move-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(49, 58, 72);
  color: rgb(168, 177, 192);
  width: 3.4375rem;
  height: inherit;
}

.move-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 1.1875rem;
  color: rgb(168, 177, 192);
  gap: 0.25rem;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
}

.move-title {
  display: flex;
  align-items: center;
  margin-top: -0.1875rem;
}

.move-rating-on-title {
  margin-right: 0.25rem;
}

.move-rating-on-title,
.move-short-title {
  display: none;
}

.move-description {
  display: flex;
  align-items: center;
  padding: 0 0.0625rem;
  font-size: 23px;
  line-height: 2.1875rem;
  color: #fff;
}

.move-short-description {
  display: none;
}

.move-icons {
  max-width: 5rem;
  min-width: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 6px;
}

.move-notes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  background-color: rgb(128, 5, 52);
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inherit;
  animation: fadeInShow 0.2s;
  gap: 1rem;
}
.move-notes p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

[hidden] {
  display: none;
}

@keyframes fadeInShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bits-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.bits {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20rem;
  background-color: #00000033;
  padding: 0.25rem 0.5rem;
  flex: 1;
  outline: 4px solid #00000033;
}

.frame-data-bits {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000033;
  padding: 0.25rem 0.5rem;
}

.character-select img {
  outline: 3px solid gray;
  border-radius: 2px;
  width: 150px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .move-rating {
    display: none;
  }

  .move-long-title {
    display: none;
  }

  .move-long-description {
    display: none;
  }

  .move-rating-on-title {
    display: inherit;
  }

  .move-short-title {
    display: flex;
  }
  .move-short-description {
    display: flex;
  }

  .move-details:hover .move-text {
    margin-left: 0.9375rem;
  }
}
